@charset "utf-8";

/* 메인 가운데 라인 애니메이션 */

.main_line_con {
  position: fixed;
  top: 0;
  left: calc(50% - 2px);
  transform: translateX(-50%);
  width: 1px;
  height: 100vh;
  background: transparent;
  z-index: 99;
}
.main_line_con > div {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
  animation-name: rain;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  border-radius: 100%;
}
@keyframes rain {
  0% {
    transform: translateY(-400px);
  }
  100% {
    transform: translateY(900px);
  }
}

/* 섹션1 */

.main_section1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 940px;
  background-color: #09001d;
}
.main_section1 .bg_box {
  background: url(../img/main/main-section1-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
.main_section1 .text_box {
  position: relative;
  z-index: 1;
}
.main_section1 .text_box h2 {
  text-align: center;
  color: white;
  font-weight: 800;
}
.main_section1 .text_box h2:first-child {
  font-size: 11.25em;
  margin-bottom: 30px;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  animation-name: mainTitle1, fillText;
  animation-duration: 1s, 3s;
  animation-iteration-count: 1;
  background-image: url(../img/main/white.svg);
  -webkit-background-clip: text;
  background-repeat: no-repeat;
}
@keyframes mainTitle1 {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fillText {
  0% {
    background-position-y: 160px;
  }
  20% {
    background-position-y: 160px;
  }
  100% {
    background-position-y: 0px;
  }
}
.main_section1 .text_box h2:last-child {
  font-size: 7.5em;
  animation-name: mainTitle2;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes mainTitle2 {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.main_section1 .scroll_down {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  writing-mode: vertical-rl;
  font-family: Pretendard;
  font-size: 0.75em;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(255, 255, 255);
  opacity: 0.15;
  margin-left: 15px;
  animation-name: upDown;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes upDown {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.5;
    transform: translateX(-50%) translateY(10px);
  }
  100% {
    opacity: 0.15;
  }
}

/* 섹션2 */

.main_section2 {
  position: relative;
  background-color: #09001d;
  height: 1340px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_section2 .top_hand {
  position: absolute;
  top: 0;
  left: 0;
}
.main_section2 .bottom_hand {
  position: absolute;
  bottom: -50px;
  right: 0;
}
.main_section2 .text_box .semi_title {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #1350ff;
}
.main_section2 .text_box .title {
  font-size: 6.25em;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin: 20px 0;
}
.main_section2 .text_box .text {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -1.6px;
  text-align: center;
  color: #fff;
}

/* 섹션3 */

.main_section3 {
  position: relative;
  height: 800px;
  background-color: #09001d;
  padding: 170px 0 435px;
  box-sizing: border-box;
}
.main_section3 .bg_box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  clip-path: inset(40%);
  transform: translateY(-678px);
}
.main_section3 .blur {
  position: absolute;
  top: 0;
  width: 100%;
  height: 800px;
}
.main_section3 .blur > div {
  width: 20%;
  height: 20%;
  background-color: transparent;
  transform: translateY(-358px);
  margin: 0 auto;
  box-shadow: 0px 0px 40px rgb(215, 239, 255);
}
.main_section3 .text_box {
  position: relative;
  z-index: 1;
  max-width: 1640px;
  margin: 0 auto;
  transform: translateX(50px);
  opacity: 0;
}
.main_section3 .text_box .title {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -2.4px;
  text-align: left;
  color: #fff;
  margin-bottom: 40px;
}
.main_section3 .text_box .text {
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: -0.9px;
  text-align: left;
  color: #fff;
}
.main_section3 .count_box {
  width: 100%;
  max-width: 1760px;
  background: #0014ba;
  height: 310px;
  position: absolute;
  bottom: -120px;
  display: flex;
  align-items: center;
  padding: 0 160px;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: 0.5s;
  z-index: 1;
}
.main_section3 .count_box span {
  color: white;
}
.main_section3 .count_box ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.main_section3 .count_box li {
  display: flex;
  flex-direction: column;
}
.main_section3 .count_box .title {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -1px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}
.main_section3 .count_box .sub_title {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1.6px;
  text-align: left;
  color: #fff;
  margin-bottom: 40px;
}
.main_section3 .count_box .year {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.main_section3 .count_box .count {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1.5px;
  text-align: left;
  color: #fff;
}

/* 섹션4 */

.main_section4 {
  position: relative;
  height: fit-content;
}
.main_section4 .bg_box {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main_section4 .bg_box > div {
  height: 920px;
  overflow: hidden;
}
.main_section4 .text_box {
  position: absolute;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main_section4 .text_box .text {
  font-size: 1.875em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.5px;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
  /* animation-name: mainTitle2; */
  animation-duration: 1s;
  opacity: 0;
}
.main_section4 .text_box .title {
  font-size: 6.25em;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  /* animation-name: mainTitle2; */
  animation-duration: 1s;
  opacity: 0;
}
.main_section4 .text_box .title_fill {
  -webkit-text-stroke: 1px #0014ba;
  font-size: 6.25em;
  font-weight: 800;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: transparent;
  margin-bottom: 30px;
  background-image: -webkit-linear-gradient(transparent 50%, #0014ba 50%);
  background-position: 0 0;
  background-position: 0 -175px;
  background-size: 100% 700px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  /* animation-name: mainTitle1; */
  animation-duration: 1s;
  opacity: 0;
  transition: 1s;
}
